.header__login-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 24px;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .header__login-container {
    padding-right: 27px;
  }
}

