.button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
  color: inherit;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}

.button:hover {
  opacity: .6;
}

