.popup__close-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 640px) {
  .popup__close-button {
    top: -48px;
    right: 0px;
  }
}