.auth__input {
  background-color: transparent;
  border-bottom: 2px solid #CCCCCC;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  color: #CCCCCC;
}

.auth__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
}