@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/root/root.css);
@import url(./blocks/link/link.css);
@import url(./blocks/page/page.css);
@import url(./blocks/button/button.css);
@import url(./blocks/logo/_place/logo_place_header.css);
@import url(./blocks/input/input.css);

@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__like-button/card__like-button.css);
@import url(./blocks/card/__like-button/_active/card__like-button_active.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__info-block/card__info-block.css);
@import url(./blocks/card/__delete-button/card__delete-button_visible.css);
@import url(./blocks/card/__delete-button/card__delete-button_hidden.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-person-button/profile__add-person-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-change-overlay/profile__avatar-change-overlay.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__information/profile__information.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_type/popup__container_type_image.css);
@import url(./blocks/popup/__container/_type/popup__container_type_form.css);
@import url(./blocks/popup/__form/popup__form.css);

@import url(./blocks/popup/__image-close-button/popup__image-close-button.css);
@import url(./blocks/popup/__image-description/popup__image-description.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__place-link-input/popup__place-link-input.css);
@import url(./blocks/popup/__place-name-input/popup__place-name-input.css);
@import url(./blocks/popup/__profile-job-input/popup__profile-job-input.css);
@import url(./blocks/popup/__profile-name-input/popup__profile-name-input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_type/popup__submit-button_type_disable.css);
@import url(./blocks/popup/__submit-button/_type/popup__submit-button_type_place.css);
@import url(./blocks/popup/__submit-button/_type/popup__submit-button_type_profile.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_place.css);
@import url(./blocks/popup/_type/popup_type_profile.css);
@import url(./blocks/popup/_type/popup_type_image.css);

@import url(./blocks/popup/__error-message/popup__error-message.css);
@import url(./blocks/popup/__error-message/_type/popup__error-message_type_place-link.css);
@import url(./blocks/popup/__error-message/_type/popup__error-message_type_place-name.css);
@import url(./blocks/popup/__error-message/_type/popup__error-message_type_profile-job.css);
@import url(./blocks/popup/__error-message/_type/popup__error-message_type_profile-name.css);
@import url(./blocks/popup/__error-message/_type/popup__error-message_type_visible.css);
@import url(./blocks/input/_error/input_error.css);

@import url(./blocks/popup/__title/_type/popup__title_type_delete-card.css);
@import url(./blocks/popup/__error-message/_type/popup__error-message_type_update-avatar.css);
@import url(./blocks/card/__like-button-counter/card__like-button-counter.css);
@import url(./blocks/card/__like-container/card__like-container.css);
