.header {
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 74px;
  padding: 45px 0 41px;
}

@media screen and (max-width: 980px) {
  .header {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 26px;
    justify-items: center;
    min-height: 84px;
    padding: 28px 0 31px;
  }
}
